{
  "swagger": "2.0",
  "info": {
    "title": "Loyalty Platform API",
    "description": "A Loyalty **Programme** encourages **Members** to shop at **Outlets** owned/run by **Participants**, by offering those **Members** some incentives such as **Vouchers** or amounts of **Currencies** in return for their **Purchases**. The **Loyalty Platform** exposes **Resources** that are used to construct and manage loyalty **Programmes**.\n",
    "termsOfService": "https://www.loyalty.co.nz",
    "contact": {
      "name": "Loyalty New Zealand",
      "url": "https://www.loyalty.co.nz",
      "email": "support@loyalty.co.nz"
    },
    "license": {
      "name": "See Loyalty New Zealand",
      "url": "https://www.loyalty.co.nz"
    },
    "version": "1.5.3"
  },
  "host": "api.onloyaltynz.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json; charset=utf-8"
  ],
  "produces": [
    "application/json; charset=utf-8"
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Account instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{ident}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Show Account instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create Account instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Account",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
              },
              "properties": {
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete Account instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships",
            "enum": [
              "members",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      }
    },
    "/v1/accumulations": {
      "get": {
        "tags": [
          "Accumulation"
        ],
        "summary": "List Accumulation instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Accumulation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#accumulation.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: token_identifier, member_id, dest_currency_code",
            "enum": [
              "token_identifier",
              "member_id",
              "dest_currency_code"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Accumulation"
              }
            }
          }
        }
      }
    },
    "/v1/balances": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "List Balance instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Balance",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: token_identifier, currency_code",
            "enum": [
              "token_identifier",
              "currency_code"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Balance"
              }
            }
          }
        }
      }
    },
    "/v1/balances/{ident}": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Show Balance instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Balance",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          }
        }
      }
    },
    "/v1/calculations/{ident}": {
      "post": {
        "tags": [
          "Calculation"
        ],
        "summary": "Create Calculation instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: balances, vouchers",
            "enum": [
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: balances, vouchers",
            "enum": [
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Calculation",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
              },
              "properties": {
                "token_identifier": {
                  "type": "string",
                  "title": "token_identifier"
                },
                "programme_code": {
                  "type": "string",
                  "title": "programme_code"
                },
                "reference_kind": {
                  "type": "string",
                  "enum": [
                    "Purchase",
                    "Refund"
                  ],
                  "title": "reference_kind"
                },
                "reference_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "reference_id"
                },
                "calculator_data": {
                  "type": "object",
                  "properties": {
                    "earn_currency": {
                      "type": "object",
                      "properties": {
                        "product_tag_ids_included": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_included"
                        },
                        "product_tag_ids_excluded": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_excluded"
                        },
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "currency_earner": {
                          "type": "object",
                          "properties": {
                            "default_currency_code": {
                              "type": "array",
                              "properties": {
                              },
                              "items": {
                                "type": "string"
                              },
                              "title": "default_currency_code"
                            }
                          },
                          "title": "currency_earner"
                        }
                      },
                      "title": "earn_currency"
                    },
                    "earn_vouchers": {
                      "type": "object",
                      "properties": {
                        "product_tag_ids_included": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_included"
                        },
                        "product_tag_ids_excluded": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_excluded"
                        },
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "voucher_earners": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "earned_via": {
                                "type": "object",
                                "properties": {
                                  "accumulation": {
                                    "type": "string",
                                    "enum": [
                                      "discrete",
                                      "cumulative"
                                    ],
                                    "title": "accumulation"
                                  }
                                },
                                "title": "earned_via"
                              },
                              "build_with": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "title": "name"
                                  }
                                },
                                "title": "build_with"
                              }
                            }
                          },
                          "title": "voucher_earners"
                        }
                      },
                      "title": "earn_vouchers"
                    }
                  },
                  "title": "calculator_data"
                },
                "currency_amounts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "currency_code": {
                        "type": "string",
                        "maxLength": 16,
                        "title": "currency_code"
                      },
                      "qualifier": {
                        "type": "string",
                        "maxLength": 32,
                        "title": "qualifier"
                      },
                      "amount": {
                        "type": "string",
                        "title": "amount"
                      }
                    },
                    "required": [
                      "currency_code",
                      "amount"
                    ]
                  },
                  "title": "currency_amounts"
                }
              },
              "required": [
                "token_identifier",
                "programme_code",
                "currency_amounts"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Calculation"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Calculation"
        ],
        "summary": "Show Calculation instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: balances, vouchers",
            "enum": [
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: balances, vouchers",
            "enum": [
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Calculation"
            }
          }
        }
      }
    },
    "/v1/callers": {
      "get": {
        "tags": [
          "Caller"
        ],
        "summary": "List Caller instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Caller",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#caller.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at, participant_id, outlet_id",
            "default": "created_at",
            "enum": [
              "created_at",
              "participant_id",
              "outlet_id"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc, participant_id => asc, desc, outlet_id => asc, desc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: participant_id, outlet_id",
            "enum": [
              "participant_id",
              "outlet_id"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Caller"
              }
            }
          }
        }
      }
    },
    "/v1/callers/{ident}": {
      "get": {
        "tags": [
          "Caller"
        ],
        "summary": "Show Caller instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Caller",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#caller.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Caller"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Caller"
        ],
        "summary": "Create Caller instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Caller",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#caller.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Caller",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#caller.resource"
              },
              "properties": {
                "authentication_secret": {
                  "type": "string",
                  "title": "authentication_secret"
                },
                "name": {
                  "type": "string",
                  "title": "name"
                },
                "identity": {
                  "type": "object",
                  "properties": {
                    "participant_id": {
                      "type": "string",
                      "format": "uuid",
                      "minLength": 32,
                      "maxLength": 32,
                      "title": "participant_id"
                    },
                    "outlet_id": {
                      "type": "string",
                      "format": "uuid",
                      "minLength": 32,
                      "maxLength": 32,
                      "title": "outlet_id"
                    }
                  },
                  "required": [
                    "participant_id",
                    "outlet_id"
                  ],
                  "title": "identity"
                },
                "permissions": {
                  "type": "object",
                  "properties": {
                  },
                  "title": "permissions"
                },
                "scoping": {
                  "type": "object",
                  "properties": {
                    "authorised_participant_ids": {
                      "type": "array",
                      "properties": {
                      },
                      "items": {
                        "type": "string"
                      },
                      "title": "authorised_participant_ids"
                    },
                    "authorised_programme_codes": {
                      "type": "array",
                      "properties": {
                      },
                      "items": {
                        "type": "string"
                      },
                      "title": "authorised_programme_codes"
                    },
                    "authorised_http_headers": {
                      "type": "array",
                      "properties": {
                      },
                      "items": {
                        "type": "string"
                      },
                      "title": "authorised_http_headers"
                    }
                  },
                  "required": [
                    "authorised_participant_ids",
                    "authorised_programme_codes"
                  ],
                  "title": "scoping"
                }
              },
              "required": [
                "identity",
                "permissions",
                "scoping"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Caller"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Caller"
        ],
        "summary": "Update Caller instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Caller",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#caller.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Caller",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#caller.resource"
              },
              "properties": {
                "name": {
                  "type": "string",
                  "title": "name"
                },
                "permissions": {
                  "type": "object",
                  "properties": {
                  },
                  "title": "permissions"
                },
                "scoping": {
                  "type": "object",
                  "properties": {
                    "authorised_participant_ids": {
                      "type": "array",
                      "properties": {
                      },
                      "items": {
                        "type": "string"
                      },
                      "title": "authorised_participant_ids"
                    },
                    "authorised_programme_codes": {
                      "type": "array",
                      "properties": {
                      },
                      "items": {
                        "type": "string"
                      },
                      "title": "authorised_programme_codes"
                    },
                    "authorised_http_headers": {
                      "type": "array",
                      "properties": {
                      },
                      "items": {
                        "type": "string"
                      },
                      "title": "authorised_http_headers"
                    }
                  },
                  "title": "scoping"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Caller"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Caller"
        ],
        "summary": "Delete Caller instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Caller",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#caller.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Caller"
            }
          }
        }
      }
    },
    "/v1/credits/{ident}": {
      "get": {
        "tags": [
          "Credit"
        ],
        "summary": "Show Credit instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Credit",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#credit.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Credit"
        ],
        "summary": "Create Credit instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Credit",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#credit.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Credit",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#credit.resource"
              },
              "properties": {
                "caller_reference": {
                  "type": "string",
                  "title": "caller_reference"
                },
                "description": {
                  "type": "string",
                  "title": "description"
                },
                "token_identifier": {
                  "type": "string",
                  "title": "token_identifier"
                },
                "currency_amount": {
                  "type": "object",
                  "properties": {
                    "currency_code": {
                      "type": "string",
                      "maxLength": 16,
                      "title": "currency_code"
                    },
                    "qualifier": {
                      "type": "string",
                      "maxLength": 32,
                      "title": "qualifier"
                    },
                    "amount": {
                      "type": "string",
                      "title": "amount"
                    }
                  },
                  "required": [
                    "currency_code",
                    "amount"
                  ],
                  "title": "currency_amount"
                }
              },
              "required": [
                "caller_reference",
                "token_identifier",
                "currency_amount"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          }
        }
      }
    },
    "/v1/credits": {
      "get": {
        "tags": [
          "Credit"
        ],
        "summary": "List Credit instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Credit",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#credit.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Credit"
              }
            }
          }
        }
      }
    },
    "/v1/currencies": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "List Currency instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at, currency_code",
            "default": "created_at",
            "enum": [
              "created_at",
              "currency_code"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc, currency_code => asc, desc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Currency"
              }
            }
          }
        }
      }
    },
    "/v1/currencies/{ident}": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Show Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Currency"
        ],
        "summary": "Create Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Currency",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
              },
              "properties": {
                "currency_code": {
                  "type": "string",
                  "maxLength": 16,
                  "title": "currency_code"
                },
                "qualifiers": {
                  "type": "array",
                  "properties": {
                  },
                  "items": {
                    "type": "string"
                  },
                  "title": "qualifiers"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 8,
                  "title": "symbol"
                },
                "aggregated_by": {
                  "type": "string",
                  "enum": [
                    "account",
                    "member",
                    "token"
                  ],
                  "title": "aggregated_by"
                },
                "position": {
                  "type": "string",
                  "enum": [
                    "prefix",
                    "suffix"
                  ],
                  "title": "position"
                },
                "rounding": {
                  "type": "string",
                  "enum": [
                    "down",
                    "up",
                    "half_down",
                    "half_up",
                    "half_even"
                  ],
                  "title": "rounding"
                },
                "precision": {
                  "type": "integer",
                  "format": "int32",
                  "title": "precision",
                  "default": 2
                }
              },
              "required": [
                "currency_code",
                "rounding"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Currency"
        ],
        "summary": "Update Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Currency",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
              },
              "properties": {
                "currency_code": {
                  "type": "string",
                  "maxLength": 16,
                  "title": "currency_code"
                },
                "qualifiers": {
                  "type": "array",
                  "properties": {
                  },
                  "items": {
                    "type": "string"
                  },
                  "title": "qualifiers"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 8,
                  "title": "symbol"
                },
                "position": {
                  "type": "string",
                  "enum": [
                    "prefix",
                    "suffix"
                  ],
                  "title": "position"
                },
                "precision": {
                  "type": "integer",
                  "format": "int32",
                  "title": "precision"
                },
                "rounding": {
                  "type": "string",
                  "enum": [
                    "down",
                    "up",
                    "half_down",
                    "half_up",
                    "half_even"
                  ],
                  "title": "rounding"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Currency"
        ],
        "summary": "Delete Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      }
    },
    "/v1/debits/{ident}": {
      "get": {
        "tags": [
          "Debit"
        ],
        "summary": "Show Debit instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Debit",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#debit.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Debit"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Debit"
        ],
        "summary": "Create Debit instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Debit",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#debit.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Debit",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#debit.resource"
              },
              "properties": {
                "caller_reference": {
                  "type": "string",
                  "title": "caller_reference"
                },
                "description": {
                  "type": "string",
                  "title": "description"
                },
                "token_identifier": {
                  "type": "string",
                  "title": "token_identifier"
                },
                "currency_amount": {
                  "type": "object",
                  "properties": {
                    "currency_code": {
                      "type": "string",
                      "maxLength": 16,
                      "title": "currency_code"
                    },
                    "qualifier": {
                      "type": "string",
                      "maxLength": 32,
                      "title": "qualifier"
                    },
                    "amount": {
                      "type": "string",
                      "title": "amount"
                    }
                  },
                  "required": [
                    "currency_code",
                    "amount"
                  ],
                  "title": "currency_amount"
                }
              },
              "required": [
                "caller_reference",
                "token_identifier",
                "currency_amount"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Debit"
            }
          }
        }
      }
    },
    "/v1/debits": {
      "get": {
        "tags": [
          "Debit"
        ],
        "summary": "List Debit instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Debit",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#debit.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Debit"
              }
            }
          }
        }
      }
    },
    "/v1/errors/{ident}": {
      "get": {
        "tags": [
          "Errors"
        ],
        "summary": "Show Errors instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Errors",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#errors.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        }
      }
    },
    "/v1/errors": {
      "get": {
        "tags": [
          "Errors"
        ],
        "summary": "List Errors instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Errors",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#errors.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: participant_id, outlet_id, caller_id, interaction_id, contains_code",
            "enum": [
              "participant_id",
              "outlet_id",
              "caller_id",
              "interaction_id",
              "contains_code"
            ]
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Exclude items matching URL-encoded values of 'field=filter-string'; search on: participant_id, outlet_id, caller_id, interaction_id, contains_code",
            "enum": [
              "participant_id",
              "outlet_id",
              "caller_id",
              "interaction_id",
              "contains_code"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Errors"
              }
            }
          }
        }
      }
    },
    "/v1/health/{ident}": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Show Health instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Health",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#health.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Health"
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "List Health instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Health",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#health.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Health"
              }
            }
          }
        }
      }
    },
    "/v1/involvements/{ident}": {
      "post": {
        "tags": [
          "Involvement"
        ],
        "summary": "Create Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Involvement",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
              },
              "properties": {
                "outlet_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "outlet_id"
                },
                "programme_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "programme_id"
                },
                "calculator_data": {
                  "type": "object",
                  "properties": {
                    "earn_currency": {
                      "type": "object",
                      "properties": {
                        "product_tag_ids_included": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_included"
                        },
                        "product_tag_ids_excluded": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_excluded"
                        },
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "currency_earner": {
                          "type": "object",
                          "properties": {
                            "default_currency_code": {
                              "type": "array",
                              "properties": {
                              },
                              "items": {
                                "type": "string"
                              },
                              "title": "default_currency_code"
                            }
                          },
                          "title": "currency_earner"
                        }
                      },
                      "title": "earn_currency"
                    },
                    "earn_vouchers": {
                      "type": "object",
                      "properties": {
                        "product_tag_ids_included": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_included"
                        },
                        "product_tag_ids_excluded": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_excluded"
                        },
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "voucher_earners": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "earned_via": {
                                "type": "object",
                                "properties": {
                                  "accumulation": {
                                    "type": "string",
                                    "enum": [
                                      "discrete",
                                      "cumulative"
                                    ],
                                    "title": "accumulation"
                                  }
                                },
                                "title": "earned_via"
                              },
                              "build_with": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "title": "name"
                                  }
                                },
                                "title": "build_with"
                              }
                            }
                          },
                          "title": "voucher_earners"
                        }
                      },
                      "title": "earn_vouchers"
                    }
                  },
                  "title": "calculator_data"
                }
              },
              "required": [
                "outlet_id",
                "programme_id"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Involvement"
        ],
        "summary": "Show Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Involvement"
        ],
        "summary": "Update Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Involvement",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
              },
              "properties": {
                "outlet_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "outlet_id"
                },
                "programme_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "programme_id"
                },
                "calculator_data": {
                  "type": "object",
                  "properties": {
                    "earn_currency": {
                      "type": "object",
                      "properties": {
                        "product_tag_ids_included": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_included"
                        },
                        "product_tag_ids_excluded": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_excluded"
                        },
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "currency_earner": {
                          "type": "object",
                          "properties": {
                            "default_currency_code": {
                              "type": "array",
                              "properties": {
                              },
                              "items": {
                                "type": "string"
                              },
                              "title": "default_currency_code"
                            }
                          },
                          "title": "currency_earner"
                        }
                      },
                      "title": "earn_currency"
                    },
                    "earn_vouchers": {
                      "type": "object",
                      "properties": {
                        "product_tag_ids_included": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_included"
                        },
                        "product_tag_ids_excluded": {
                          "type": "array",
                          "properties": {
                          },
                          "items": {
                            "type": "string"
                          },
                          "title": "product_tag_ids_excluded"
                        },
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "voucher_earners": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "earned_via": {
                                "type": "object",
                                "properties": {
                                  "accumulation": {
                                    "type": "string",
                                    "enum": [
                                      "discrete",
                                      "cumulative"
                                    ],
                                    "title": "accumulation"
                                  }
                                },
                                "title": "earned_via"
                              },
                              "build_with": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "title": "name"
                                  }
                                },
                                "title": "build_with"
                              }
                            }
                          },
                          "title": "voucher_earners"
                        }
                      },
                      "title": "earn_vouchers"
                    }
                  },
                  "title": "calculator_data"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Involvement"
        ],
        "summary": "Delete Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      }
    },
    "/v1/involvements": {
      "get": {
        "tags": [
          "Involvement"
        ],
        "summary": "List Involvement instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: outlet_id",
            "enum": [
              "outlet_id"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Involvement"
              }
            }
          }
        }
      }
    },
    "/v1/ledgers/{ident}": {
      "get": {
        "tags": [
          "Ledger"
        ],
        "summary": "Show Ledger instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Ledger",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#ledger.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Ledger"
            }
          }
        }
      }
    },
    "/v1/ledgers": {
      "get": {
        "tags": [
          "Ledger"
        ],
        "summary": "List Ledger instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Ledger",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#ledger.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: created_after, currency_code",
            "enum": [
              "created_after",
              "currency_code"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Ledger"
              }
            }
          }
        }
      }
    },
    "/v1/logs/{ident}": {
      "get": {
        "tags": [
          "Log"
        ],
        "summary": "Show Log instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Log",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#log.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Log"
            }
          }
        }
      }
    },
    "/v1/logs": {
      "get": {
        "tags": [
          "Log"
        ],
        "summary": "List Log instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Log",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#log.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at, component, code, level",
            "default": "created_at",
            "enum": [
              "created_at",
              "component",
              "code",
              "level"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc, component => asc, desc, code => asc, desc, level => asc, desc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: component, code, level, participant_id, outlet_id, caller_id, interaction_id",
            "enum": [
              "component",
              "code",
              "level",
              "participant_id",
              "outlet_id",
              "caller_id",
              "interaction_id"
            ]
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Exclude items matching URL-encoded values of 'field=filter-string'; search on: component, code, level, participant_id, outlet_id, caller_id, interaction_id",
            "enum": [
              "component",
              "code",
              "level",
              "participant_id",
              "outlet_id",
              "caller_id",
              "interaction_id"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Log"
              }
            }
          }
        }
      }
    },
    "/v1/mass_tag_events": {
      "get": {
        "tags": [
          "MassTagEvent"
        ],
        "summary": "List MassTagEvent instances",
        "externalDocs": {
          "description": "Loyalty Platform API: MassTagEvent",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#masstagevent.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/MassTagEvent"
              }
            }
          }
        }
      }
    },
    "/v1/mass_tag_events/{ident}": {
      "get": {
        "tags": [
          "MassTagEvent"
        ],
        "summary": "Show MassTagEvent instance",
        "externalDocs": {
          "description": "Loyalty Platform API: MassTagEvent",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#masstagevent.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/MassTagEvent"
            }
          }
        }
      },
      "post": {
        "tags": [
          "MassTagEvent"
        ],
        "summary": "Create MassTagEvent instance",
        "externalDocs": {
          "description": "Loyalty Platform API: MassTagEvent",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#masstagevent.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: MassTagEvent",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#masstagevent.resource"
              },
              "properties": {
                "resource_kind": {
                  "type": "string",
                  "title": "resource_kind"
                },
                "resource_identifiers": {
                  "type": "array",
                  "properties": {
                  },
                  "items": {
                    "type": "string"
                  },
                  "title": "resource_identifiers"
                },
                "tagging_action": {
                  "type": "string",
                  "enum": [
                    "add",
                    "replace",
                    "remove"
                  ],
                  "title": "tagging_action"
                },
                "tag_ids": {
                  "type": "array",
                  "properties": {
                  },
                  "items": {
                    "type": "string"
                  },
                  "title": "tag_ids"
                }
              },
              "required": [
                "resource_kind",
                "resource_identifiers",
                "tagging_action",
                "tag_ids"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/MassTagEvent"
            }
          }
        }
      }
    },
    "/v1/members": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "List Member instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Member",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: accounts, tokens, memberships",
            "enum": [
              "accounts",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: accounts, tokens, memberships",
            "enum": [
              "accounts",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Member"
              }
            }
          }
        }
      }
    },
    "/v1/members/{ident}": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "Show Member instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Member",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: accounts, tokens, memberships",
            "enum": [
              "accounts",
              "tokens",
              "memberships"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: accounts, tokens, memberships",
            "enum": [
              "accounts",
              "tokens",
              "memberships"
            ]
          },
          {
[...]
