{
  "swagger": "2.0",
  "info": {
    "title": "Loyalty Platform API",
    "description": "A Loyalty **Programme** encourages **Members** to shop at **Outlets** owned/run by **Participants**, by offering those **Members** some incentives such as **Vouchers** or amounts of **Currencies** in return for their **Purchases**. The **Loyalty Platform** exposes **Resources** that are used to construct and manage loyalty **Programmes**.\n",
    "termsOfService": "https://www.loyalty.co.nz",
    "contact": {
      "name": "Loyalty New Zealand",
      "url": "https://www.loyalty.co.nz",
      "email": "support@loyalty.co.nz"
    },
    "license": {
      "name": "See Loyalty New Zealand",
      "url": "https://www.loyalty.co.nz"
    },
    "version": "1.0.0"
  },
  "host": "api.onloyaltynz.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json; charset=utf-8"
  ],
  "produces": [
    "application/json; charset=utf-8"
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Account instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: owner_id",
            "enum": [
              "owner_id"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{ident}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Show Account instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create Account instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Account",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
              },
              "properties": {
                "owner_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "owner_id"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Account",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
              },
              "properties": {
                "owner_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "owner_id"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete Account instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Account",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#account.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: members, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "members",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        }
      }
    },
    "/v1/balances": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "List Balance instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Balance",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: token_identifier, currency_code",
            "enum": [
              "token_identifier",
              "currency_code"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Balance"
              }
            }
          }
        }
      }
    },
    "/v1/balances/{ident}": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Show Balance instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Balance",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Balance"
        ],
        "summary": "Create Balance instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Balance",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Balance",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Balance"
        ],
        "summary": "Update Balance instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Balance",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Balance",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Balance"
        ],
        "summary": "Delete Balance instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Balance",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#balance.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          }
        }
      }
    },
    "/v1/calculations": {
      "get": {
        "tags": [
          "Calculation"
        ],
        "summary": "List Calculation instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Calculation"
              }
            }
          }
        }
      }
    },
    "/v1/calculations/{ident}": {
      "get": {
        "tags": [
          "Calculation"
        ],
        "summary": "Show Calculation instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Calculation"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Calculation"
        ],
        "summary": "Create Calculation instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Calculation",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
              },
              "properties": {
                "calculator_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "calculator_id"
                },
                "token_identifier": {
                  "type": "string",
                  "title": "token_identifier"
                },
                "calculator_data": {
                  "type": "object",
                  "properties": {
                    "earn_currency": {
                      "type": "object",
                      "properties": {
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "currency_earner": {
                          "type": "object",
                          "properties": {
                            "default_currency_code": {
                              "type": "array",
                              "properties": {
                              },
                              "items": {
                                "type": "string"
                              },
                              "title": "default_currency_code"
                            }
                          },
                          "title": "currency_earner"
                        }
                      },
                      "title": "earn_currency"
                    },
                    "earn_vouchers": {
                      "type": "object",
                      "properties": {
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "voucher_earners": {
                          "type": "array",
                          "items": {
                            "earned_via": {
                              "type": "object",
                              "properties": {
                                "accumulation": {
                                  "type": "string",
                                  "enum": [
                                    "discrete",
                                    "cumulative"
                                  ],
                                  "title": "accumulation"
                                }
                              },
                              "title": "earned_via"
                            },
                            "build_with": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "title": "name"
                                }
                              },
                              "title": "build_with"
                            }
                          },
                          "title": "voucher_earners"
                        }
                      },
                      "title": "earn_vouchers"
                    }
                  },
                  "title": "calculator_data"
                },
                "currency_amounts": {
                  "type": "array",
                  "required": [
                    "currency_code",
                    "amount"
                  ],
                  "items": {
                    "currency_code": {
                      "type": "string",
                      "maxLength": 16,
                      "title": "currency_code"
                    },
                    "qualifier": {
                      "type": "string",
                      "maxLength": 32,
                      "title": "qualifier"
                    },
                    "amount": {
                      "type": "string",
                      "title": "amount"
                    }
                  },
                  "title": "currency_amounts"
                }
              },
              "required": [
                "calculator_id",
                "token_identifier",
                "currency_amounts"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Calculation"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Calculation"
        ],
        "summary": "Update Calculation instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Calculation",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Calculation"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Calculation"
        ],
        "summary": "Delete Calculation instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculation",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculation.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Calculation"
            }
          }
        }
      }
    },
    "/v1/calculators": {
      "get": {
        "tags": [
          "Calculator"
        ],
        "summary": "List Calculator instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculator",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculator.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at, name, calculator_type",
            "default": "created_at",
            "enum": [
              "created_at",
              "name",
              "calculator_type"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc, name => asc, desc, calculator_type => asc, desc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Calculator"
              }
            }
          }
        }
      }
    },
    "/v1/calculators/{ident}": {
      "get": {
        "tags": [
          "Calculator"
        ],
        "summary": "Show Calculator instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculator",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculator.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Calculator"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Calculator"
        ],
        "summary": "Create Calculator instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculator",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculator.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Calculator",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculator.resource"
              },
              "properties": {
                "name": {
                  "type": "string",
                  "title": "name"
                },
                "description": {
                  "type": "string",
                  "title": "description"
                },
                "calculator_type": {
                  "type": "string",
                  "enum": [
                    "earn_currency",
                    "earn_vouchers"
                  ],
                  "title": "calculator_type"
                },
                "calculator_data": {
                  "type": "object",
                  "properties": {
                    "earn_currency": {
                      "type": "object",
                      "properties": {
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "currency_earner": {
                          "type": "object",
                          "properties": {
                            "default_currency_code": {
                              "type": "array",
                              "properties": {
                              },
                              "items": {
                                "type": "string"
                              },
                              "title": "default_currency_code"
                            }
                          },
                          "title": "currency_earner"
                        }
                      },
                      "title": "earn_currency"
                    },
                    "earn_vouchers": {
                      "type": "object",
                      "properties": {
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "voucher_earners": {
                          "type": "array",
                          "items": {
                            "earned_via": {
                              "type": "object",
                              "properties": {
                                "accumulation": {
                                  "type": "string",
                                  "enum": [
                                    "discrete",
                                    "cumulative"
                                  ],
                                  "title": "accumulation"
                                }
                              },
                              "title": "earned_via"
                            },
                            "build_with": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "title": "name"
                                }
                              },
                              "title": "build_with"
                            }
                          },
                          "title": "voucher_earners"
                        }
                      },
                      "title": "earn_vouchers"
                    }
                  },
                  "title": "calculator_data"
                }
              },
              "required": [
                "name",
                "calculator_type"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Calculator"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Calculator"
        ],
        "summary": "Update Calculator instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculator",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculator.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Calculator",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculator.resource"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Calculator"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Calculator"
        ],
        "summary": "Delete Calculator instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Calculator",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#calculator.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: programmes",
            "enum": [
              "programmes"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Calculator"
            }
          }
        }
      }
    },
    "/v1/currencies": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "List Currency instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at, currency_code",
            "default": "created_at",
            "enum": [
              "created_at",
              "currency_code"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc, currency_code => asc, desc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Currency"
              }
            }
          }
        }
      }
    },
    "/v1/currencies/{ident}": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Show Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Currency"
        ],
        "summary": "Create Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Currency",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
              },
              "properties": {
                "currency_code": {
                  "type": "string",
                  "maxLength": 16,
                  "title": "currency_code"
                },
                "qualifiers": {
                  "type": "array",
                  "properties": {
                  },
                  "items": {
                    "type": "string"
                  },
                  "title": "qualifiers"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 8,
                  "title": "symbol"
                },
                "position": {
                  "type": "string",
                  "enum": [
                    "prefix",
                    "suffix"
                  ],
                  "title": "position"
                },
                "rounding": {
                  "type": "string",
                  "enum": [
                    "down",
                    "up",
                    "half_down",
                    "half_up",
                    "half_even"
                  ],
                  "title": "rounding"
                },
                "precision": {
                  "type": "integer",
                  "format": "int32",
                  "title": "precision",
                  "default": 2
                }
              },
              "required": [
                "currency_code",
                "rounding"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Currency"
        ],
        "summary": "Update Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Currency",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
              },
              "properties": {
                "currency_code": {
                  "type": "string",
                  "maxLength": 16,
                  "title": "currency_code"
                },
                "qualifiers": {
                  "type": "array",
                  "properties": {
                  },
                  "items": {
                    "type": "string"
                  },
                  "title": "qualifiers"
                },
                "symbol": {
                  "type": "string",
                  "maxLength": 8,
                  "title": "symbol"
                },
                "position": {
                  "type": "string",
                  "enum": [
                    "prefix",
                    "suffix"
                  ],
                  "title": "position"
                },
                "precision": {
                  "type": "integer",
                  "format": "int32",
                  "title": "precision",
                  "default": 2
                },
                "rounding": {
                  "type": "string",
                  "enum": [
                    "down",
                    "up",
                    "half_down",
                    "half_up",
                    "half_even"
                  ],
                  "title": "rounding"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Currency"
        ],
        "summary": "Delete Currency instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Currency",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#currency.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Currency"
            }
          }
        }
      }
    },
    "/v1/errors/{ident}": {
      "get": {
        "tags": [
          "Errors"
        ],
        "summary": "Show Errors instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Errors",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#errors.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        }
      }
    },
    "/v1/errors": {
      "get": {
        "tags": [
          "Errors"
        ],
        "summary": "List Errors instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Errors",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#errors.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Errors"
              }
            }
          }
        }
      }
    },
    "/v1/health/{ident}": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Show Health instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Health",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#health.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Health"
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "List Health instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Health",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#health.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Health"
              }
            }
          }
        }
      }
    },
    "/v1/involvements": {
      "get": {
        "tags": [
          "Involvement"
        ],
        "summary": "List Involvement instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: outlet_id",
            "enum": [
              "outlet_id"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Involvement"
              }
            }
          }
        }
      }
    },
    "/v1/involvements/{ident}": {
      "get": {
        "tags": [
          "Involvement"
        ],
        "summary": "Show Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Involvement"
        ],
        "summary": "Create Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Involvement",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
              },
              "properties": {
                "outlet_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "outlet_id"
                },
                "programme_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "programme_id"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Involvement"
        ],
        "summary": "Update Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Involvement",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Involvement"
        ],
        "summary": "Delete Involvement instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Involvement",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#involvement.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Involvement"
            }
          }
        }
      }
    },
    "/v1/logs/{ident}": {
      "get": {
        "tags": [
          "Log"
        ],
        "summary": "Show Log instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Log",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#log.resource"
        },
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Log"
            }
          }
        }
      }
    },
    "/v1/logs": {
      "get": {
        "tags": [
          "Log"
        ],
        "summary": "List Log instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Log",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#log.resource"
        },
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: component, code, level, client_id, interaction_id",
            "enum": [
              "component",
              "code",
              "level",
              "client_id",
              "interaction_id"
            ]
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Exclude items matching URL-encoded values of 'field=filter-string'; search on: component, code, level, client_id",
            "enum": [
              "component",
              "code",
              "level",
              "client_id"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Log"
              }
            }
          }
        }
      }
    },
    "/v1/members": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "List Member instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Member",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at, formal_name, informal_name",
            "default": "created_at",
            "enum": [
              "created_at",
              "formal_name",
              "informal_name"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc, formal_name => desc, asc, informal_name => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: account_id, formal_name, informal_name",
            "enum": [
              "account_id",
              "formal_name",
              "informal_name"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Member"
              }
            }
          }
        }
      }
    },
    "/v1/members/{ident}": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "Show Member instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Member",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "Create Member instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Member",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Member",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
              },
              "properties": {
                "account_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "account_id"
                },
                "informal_name": {
                  "type": "string",
                  "title": "informal_name"
                },
                "formal_name": {
                  "type": "string",
                  "title": "formal_name"
                },
                "date_of_birth": {
                  "type": "string",
                  "format": "date",
                  "title": "date_of_birth"
                }
              },
              "required": [
                "formal_name",
                "date_of_birth"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Member"
        ],
        "summary": "Update Member instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Member",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Member",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
              },
              "properties": {
                "account_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "account_id"
                },
                "formal_name": {
                  "type": "string",
                  "title": "formal_name"
                },
                "informal_name": {
                  "type": "string",
                  "title": "informal_name"
                },
                "date_of_birth": {
                  "type": "string",
                  "format": "date",
                  "title": "date_of_birth"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'update' successful",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Member"
        ],
        "summary": "Delete Member instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Member",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#member.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: account, tokens, memberships, programmes, balances, vouchers",
            "enum": [
              "account",
              "tokens",
              "memberships",
              "programmes",
              "balances",
              "vouchers"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'delete' successful",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        }
      }
    },
    "/v1/memberships": {
      "get": {
        "tags": [
          "Membership"
        ],
        "summary": "List Membership instances",
        "externalDocs": {
          "description": "Loyalty Platform API: Membership",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#membership.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "List start offset",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "format": "int32",
            "description": "Number of items to return",
            "default": 50
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values: created_at",
            "default": "created_at",
            "enum": [
              "created_at"
            ]
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Valid values depend on 'sort': created_at => desc, asc",
            "default": "desc"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include items matching URL-encoded values of 'field=search-string'; search on: token_identifier, programme_id",
            "enum": [
              "token_identifier",
              "programme_id"
            ]
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'list' successful",
            "schema": {
              "title": "_data",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Membership"
              }
            }
          }
        }
      }
    },
    "/v1/memberships/{ident}": {
      "get": {
        "tags": [
          "Membership"
        ],
        "summary": "Show Membership instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Membership",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#membership.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'show' successful",
            "schema": {
              "$ref": "#/definitions/Membership"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Membership"
        ],
        "summary": "Create Membership instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Membership",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#membership.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Membership",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#membership.resource"
              },
              "properties": {
                "token_identifier": {
                  "type": "string",
                  "title": "token_identifier"
                },
                "programme_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "programme_id"
                },
                "calculator_data": {
                  "type": "object",
                  "properties": {
                    "earn_currency": {
                      "type": "object",
                      "properties": {
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "currency_earner": {
                          "type": "object",
                          "properties": {
                            "default_currency_code": {
                              "type": "array",
                              "properties": {
                              },
                              "items": {
                                "type": "string"
                              },
                              "title": "default_currency_code"
                            }
                          },
                          "title": "currency_earner"
                        }
                      },
                      "title": "earn_currency"
                    },
                    "earn_vouchers": {
                      "type": "object",
                      "properties": {
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "voucher_earners": {
                          "type": "array",
                          "items": {
                            "earned_via": {
                              "type": "object",
                              "properties": {
                                "accumulation": {
                                  "type": "string",
                                  "enum": [
                                    "discrete",
                                    "cumulative"
                                  ],
                                  "title": "accumulation"
                                }
                              },
                              "title": "earned_via"
                            },
                            "build_with": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "title": "name"
                                }
                              },
                              "title": "build_with"
                            }
                          },
                          "title": "voucher_earners"
                        }
                      },
                      "title": "earn_vouchers"
                    }
                  },
                  "title": "calculator_data"
                }
              },
              "required": [
                "token_identifier",
                "programme_id"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error conditions are described in the Loyalty Platform API"
          },
          "200": {
            "description": "Action 'create' successful",
            "schema": {
              "$ref": "#/definitions/Membership"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Membership"
        ],
        "summary": "Update Membership instance",
        "externalDocs": {
          "description": "Loyalty Platform API: Membership",
          "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#membership.resource"
        },
        "parameters": [
          {
            "name": "_embed",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded full associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "_reference",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Include embedded UUIDs of associated resource description(s) for: token, member, programme",
            "enum": [
              "token",
              "member",
              "programme"
            ]
          },
          {
            "name": "ident",
            "in": "path",
            "description": "UUID of instance. Some endpoints support other IDs here; see full API documentation for details.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "externalDocs": {
                "description": "Loyalty Platform API: Membership",
                "url": "https://github.com/LoyaltyNZ/awg/blob/master/prototype/platform_api.md#membership.resource"
              },
              "properties": {
                "token_identifier": {
                  "type": "string",
                  "title": "token_identifier"
                },
                "programme_id": {
                  "type": "string",
                  "format": "uuid",
                  "minLength": 32,
                  "maxLength": 32,
                  "title": "programme_id"
                },
                "calculator_data": {
                  "type": "object",
                  "properties": {
                    "earn_currency": {
                      "type": "object",
                      "properties": {
                        "product_tags_included": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_included"
                        },
                        "product_tags_excluded": {
                          "type": "string",
                          "format": "comma-separated-tag-names",
                          "title": "product_tags_excluded"
                        },
                        "currency_earner": {
[...]
