        <div class="article_navigation_contents">
          <h4>Contents</h4>

          <div id="toc">
            <noscript>
              Sorry, not available<br>
              on this browser.
            </noscript>
          </div>
        </div>

        <div class="article_navigation_reference">
          <h4>Reference</h4>

          <ul>
            <li>
              <a href="{{ site.custom.api_specification_url }}">
                Hoodoo API Specification
              </a>
            </li>
            <li>
              <a href="{{ site.custom.rdoc_root_url }}/index.html">
                Hoodoo RDoc
              </a>
            </li>
          </ul>
        </div>

        <div class="article_navigation_guides">
          <h4>Guides</h4>

          <ul>
{% for page in site.pages %}
  {% if page.categories contains 'guide' %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
  {% endif %}
{% endfor %}
          </ul>
        </div>