      </section>

      <div class="clear"></div>

      <nav id="article_navigation_bottom">
{% include navigation.html %}
      </nav>

      <div class="clear"></div>
    </article>

    <footer>
      <nav>
        <span id="footer_navigation_copyright">
          &copy; <a href="https://www.loyalty.co.nz">Loyalty New Zealand</a> 2015
        </span>
        <span id="footer_link_separator">
          &ndash;
        </span>
        <span id="footer_navigation_other">
          <a href="LICENSE">Licence</a>
        </span>
      </nav>

      <div class="clear"></div>
    </footer>
  </body>
</html>